{:deps                                                
 {io.pedestal/pedestal.service    {:mvn/version "0.6.0"}
  io.pedestal/pedestal.route      {:mvn/version "0.6.0"}
  io.pedestal/pedestal.jetty      {:mvn/version "0.6.0"}
  org.slf4j/slf4j-simple          {:mvn/version "2.0.7"}
  org.clojure/data.json           {:mvn/version "2.4.0"}
  aero/aero                       {:mvn/version "1.1.6"}
  com.stuartsierra/component      {:mvn/version "1.1.0"}
  com.stuartsierra/component.repl {:mvn/version "0.2.0"}
  clj-http/clj-http               {:mvn/version "3.12.3"}
  cheshire/cheshire               {:mvn/version "5.12.0"}}
 :paths ["src", "resources", "dev"]
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}} 
